body,html {
  height:100%;
	margin:0;
}

body {
  font-family: sans-serif;
}

/* 	drawer is always visible on a wide screen
so menu button isn't required. Make screen resolution smaller to see the magic button */

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}