:host {
  display: block;
	overflow:auto;

	& > core-list {	
		background-color:#eeeeee;
	}
		
	.msg-bubble {
	  margin: 20px;
	  padding: 10px 20px;
	  border-radius: 20px;
	  background-color: #eee;
	}

}

